/* =====global===== */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}
:root {
  --color-main: #adff2f;
  --transition: all 500ms;
  --font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 80%;
  margin: 0;
  padding: 0;
}
/* =====end global===== */

/* ======navbar===== */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

li {
  float: left;
}

li a {
  display: block;
  color: greenyellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 500ms;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

nav .nav_but {
  height: auto;
  width: 50%;
}

li a:hover {
  background-color: greenyellow;
  color: black;
  transition: 500ms;
}

.active a:hover {
  background-color: greenyellow;
}

/* =====end nevbar===== */

/* =====Home===== */
.Home {
  text-align: center;
  background-color: black;
  width: 100%;
}

.nama {
  color: greenyellow;
  font-family: var(--font);
  padding-top: 30px;
  margin: 25px 0;
  font-weight: bold;
  font-size: 35px;
}
.desc {
  font-size: 5px;
}

.Home p {
  color: greenyellow;
  font-family: var(--font);
}

aside {
  background-color: black;
  text-align: center;
  margin-bottom: 100px;
}

article {
  /* margin-left: 150px; */
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: transparent;
  padding: 5px;
  gap: 1px;
  border-radius: 100px;
  transition: var(--transition);
  /* border: 5px solid greenyellow; */
  margin-top: 100px;
  /* width: 80%; */
  align-content: center;
}

.card_img {
  width: 30%;
  padding: 20px;
  text-align: left;
}

.card_L h1 {
  font-weight: bold;
  font-family: var(--font);
  font-size: 40px;
  text-align: left;
}

.card_L p {
  font-size: 20px;
  text-align: left;
}

.home_wave {
  margin-top: -100px;
}

.card_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.card_3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 100px;
}

.certificate_header_1 {
  font-weight: bold;
  font-family: var(--font);
  font-size: 50px;
  margin-bottom: 20px;
  color: #adff2f;
}

.certificate_header_2 {
  font-weight: bold;
  font-family: var(--font);
  font-size: 50px;
  margin-bottom: 20px;
  color: #adff2f;
}
.IMG {
  width: 600px;
  transition: var(--transition);
  margin: 30px;
}
.IMG:hover {
  transform: scale(1.05);
  transition: var(--transition);
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* =====end home===== */

/* =====About===== */
.about {
  background-color: var(--color-main);
}

.about h1 {
  color: rgb(0, 0, 0);
  font-family: var(--font);
  padding-top: 30px;
  text-align: center;
  font-size: 60px;
}

.about h3 {
  text-align: center;
  color: black;
  font-size: 30px;
}
.about_box {
  text-align: center;
}

.about p {
  text-align: center;
  font-family: var(--font);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.UI {
  transition: var(--transition);
  text-align: center;
  padding-top: 30px;
}
.UI:hover {
  transform: scale(1);
  transition: var(--transition);
}

/* =====footer===== */
footer {
  background-color: black;
  padding: 30px;
  color: #adff2f;
}

/* ===== Media ===== */
@media screen and (max-width: 912px) {
  body {
    width: 100%;
  }
  .nama {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #adff2f;
  }
  .card_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }
  .card_3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .IMG:hover {
    transform: scale(1.2);
    transition: var(--transition);
  }

  .IMG {
    width: 400px;
    transition: var(--transition);
    margin: 10px;
    padding: 50px 100px;
  }
}
@media screen and (max-width: 1280px) {
  body {
    width: 100%;
  }
  .nama {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #adff2f;
  }
  .card_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }
  .card_3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .IMG:hover {
    transform: scale(1.2);
    transition: var(--transition);
  }

  .IMG {
    width: 500px;
    transition: var(--transition);
    margin: 10px;
    padding: 50px 100px;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .nama {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #adff2f;
  }
  .card_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }
  .card_3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .IMG:hover {
    transform: scale(1.2);
  }

  .IMG {
    width: 400px;
    transition: var(--transition);
  }

  .card_img {
    height: 310px;
    width: 200px;
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  .nama {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #adff2f;
  }

  .certificate_header_1 {
    font-weight: bold;
    font-family: var(--font);
    font-size: 20px;
    margin-bottom: 20px;
    color: #adff2f;
  }

  .certificate_header_2 {
    font-weight: bold;
    font-family: var(--font);
    font-size: 20px;
    margin-bottom: 20px;
    color: #adff2f;
  }
  .desc {
    font-size: 10px;
  }
  .card_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }
  .card_3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .IMG:hover {
    transform: scale(1.1);
  }

  .IMG {
    width: 200px;
    transition: var(--transition);
  }

  .card_img {
    height: 300px;
    width: 200px;
    padding-top: 50px;
  }
}
